@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.top-section {
    background-color: #fb4e71;
    padding: 15px;
}

.name {
    font-size: 25px;
    font-family: "roboto";
    color: #ffffff;
    font-weight: 5px;

}

.about {
    font-size: 15px;
    font-family: "roboto";
    color: #ffffff;
}

.bottom-section {
    background-color: #e6f6ff;
    padding: 10px;
}

.subheading {
    font-family: "roboto";
    font-size: 18px;
    color: #323f4b;
    font-weight: 3px;
    padding: 10px;
}

.card-2 {
    background-color: #ffffff;
    border-radius: 5px;
}

.kxip {
    font-size: 17px;
    font-family: "roboto";
    color: #323f4b;
}

.a {
    font-size: 15px;
    font-family: "roboto";
    color: #888888;
}

.video-container {
    margin: 10px;
    width: 96px;
}

.about-video {
    font-size: 12px;
    font-family: "roboto";
    color: #323f4b;
}